<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.samd.shortlink.project.dao.mapper.AccessStateHourMapper">

    <insert id="batchInsertOrUpdate">
        INSERT INTO accessstatehour (fullshorturl, date, pv, uv, hour, delflag)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.fullshorturl}, #{item.date}, #{item.pv}, #{item.uv}, #{item.hour}, 0)
        </foreach>
        ON DUPLICATE KEY UPDATE
        pv = pv + VALUES(pv),
        uv = uv + VALUES(uv)
    </insert>

</mapper>